# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Havtorn folders
*Havtorn/Havtorn/External
*Havtorn/Havtorn/Source/Core
*Havtorn/Havtorn/Source/Editor
*Havtorn/Havtorn/Source/Engine
*Havtorn/Havtorn/Source/GUI
*Havtorn/Havtorn/Source/Launcher
*Havtorn/Havtorn/Source/Platform